<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>

<form th:action="@{/web/addCountry}" method="post" th:object="${countryRequest}">
    <label for="name">Country Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <button type="submit">Add Country</button>
</form>

<table>
    <thead>
    <tr>
        <th>Country name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${countries.empty}">
        <td colspan="2">No countries available</td>
    </tr>
    <tr th:each="country : ${countries}">
        <td><span th:text="${country.name}">Country name</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
